<div class="Footer">
    <div class="footerAnimation">
      <div>Powered By</div>
      <div class="footerLogos">
        <a href="https://www.themoviedb.org">
          <div class="footerLogo">
            <img
              src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg"
              width="100px"
              alt="The Movie Database"
           />
          </div>
        </a>
        <a href="https://www.imdb.com">
          <div class="footerLogo">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/1200px-IMDB_Logo_2016.svg.png"
              width="100px"
              alt="Internet Movie Database"
            />
          </div>
        </a>
      </div>
    </div>
  </div>